@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip No: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />


<br />
<table class="table table-bordered">
    <tr>

        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Takip Kodu</th>

        <th>Detaylar</th>
    </tr>
    @foreach (var kargo in Model)
    {
        <tr>
            <td>@kargo.Personel</td>
            <td>@kargo.Alici</td>
            <td>@kargo.Tarih</td>
            <td>@kargo.TakipKodu</td>
            <td><a href="/CariPanel/CariKargoTakip/@kargo.TakipKodu" class="btn btn-success">Detaylar</a></td>
        </tr>
    }
</table>



