@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Post))
            {
                <p>
                    Ürün Adı: @Html.TextBox("p")
                    <input type="submit" value="Ara"/>
                </p>
            }
<br />
<h2>Ürün Listesi</h2>

<table class="table table-bordered">
    <tr>

        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>

        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var urun in Model)
    {
        <tr>

            <td>@urun.UrunAd</td>
            <td>@urun.Marka</td>
            <td>@urun.Stok</td>
            <td>@urun.AlisFiyat ₺</td>
            <td>@urun.SatisFiyat ₺</td>
            <td>@urun.Kategori.KetegoriAd</td>

            <td><a href="/Urun/UrunSil/@urun.UrunID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@urun.UrunID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Urun/YeniUrun" class="btn btn-primary">Yeni Ürün</a>

